.novelty
	margin-bottom: $margin-section

.novelty-swiper
	height: 330px
	&__slide
		width: 200px
		height: 287px
		background-color: $border
		border-radius: $radius
		text-align: center
		padding: 25px 15px
		font-size: 12px
	&__image
		margin-bottom: 15px

	// &__info
	&__title
		margin-bottom: 6px
	&__author
		color: $gray